<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  >Leads Trade
        <a class="hidden-md hidden-lg"  (click)="getSavedList()">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <span class="badge">{{cart}}</span>
        </a>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-sm">
          <a class="hidden-sm"  (click)="getSavedList()">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="badge">{{cart}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h3>Экшн-камеры</h3>
  <p>Сортировать: <a (click)="filterPrice()">цене</a> | <a (click)="filterName()">по имени </a> | <a (click)="filterRating()">по рейтингу </a></p>
  <div class="row">
    <div class="container" >
      <div *ngFor="let item of shopList" class="col-md-3"  data-toggle="modal" data-target="#item" (click)="getItem(item.id)" style="padding: 15px !important; margin: 15px !important;">
        <div class="panel panel-default">
          <div class="panel-body">
            <img  width="200px" height="200px" src="{{item.img}}" alt="">
            <a class="name">{{item.name}}</a>
            <p>
              <span class="rating">{{item.raiting}}</span>
              <span class="price" >{{item.price}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <span >© 2018, <a >Leads Trade</a></span>
</footer>
<div class="modal fade" id="item" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel-body">
          <img id="item_img" width="200px" height="200px" src="{{item_img}}" alt="">
          <br>
          <a id="item_name" class="name">{{item_name}}</a>
          <p>
            <span id="item_rating" class="rating">{{item_rating}}</span>
            <span  id="item_price" class="price" >{{item_price}}</span>
          </p>
          <br>
          <ul *ngFor="let desc of description">
            <li>{{desc}}</li>
          </ul>
          <button class="btn btn-default" (click)="putShop()">Добавить в корзину</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shop_list" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel-body">
          <ul *ngFor="let item of savedList" class="list-group">
            <li class="list-group-item">
              <img width="50px" height="50px" src="{{item.img}}" alt="{{item.img}}">
              <span> {{item.name}}</span>
              <span class="price"> {{item.price}}</span>
            </li>
          </ul>
          <hr>
          <div>
            <span style="float: left;font-weight: 500"> TOTAL:</span>
            <span style="float: right;font-weight: 800"> {{total}}</span>
          </div>
        </div>
        <div align="center">
          <button id="shop_btn"  #shop_btn (click)="getIssue()" style="margin: 0 auto !important;color: white!important; background-color: #359e00 !important;" class="btn btn-default">Оформить заказ</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="issue" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <h2 align="center">Заказать</h2>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Имя">
          <input type="text" class="form-control" placeholder="Фамилия">
          <input type="text" class="form-control" placeholder="Адресс">
          <input type="number" class="form-control" placeholder="Моб.телефон">
        </div>
        <div align="center">
          <button  (click)="order()" style="color: white!important; background-color: #359e00 !important;" class="btn btn-default">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="thanks" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="thanks"> Cпасибо за покупку!</h1>
      </div>
    </div>
  </div>
</div>