.name{
    padding-top: 5px;
    font-weight: 500;

}
.rating{
    float: left;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    position: relative;
    display: inline-block;
    width: 27px;
    height: 22px;
    margin-right: 14px;
    padding: 2px 0 0 2px;
    border-radius: 5px;
    cursor: default;
    color: #fff;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #359e00;
    background: #359e00;
}

.price{
    float: right;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    margin-right: 8px;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.form-control{
 margin: 10px !important;
}
.thanks{
    text-align: center;
    font-family: "Comic Sans MS";
    color: darkgray;
}

footer{
    background-color: #f9f9f9;
    color: #5c5c5c;
    padding: 40px 20px;
    text-align: center;
}
.navbar{

}